<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🏃‍♀️ Week 1 🛋️</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/stopwatch.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Alfa+Slab+One&family=Amatic+SC&family=Chakra+Petch&family=Didact+Gothic&family=Dosis&family=Indie+Flower&family=Permanent+Marker&family=Play&display=swap" rel="stylesheet">
</head>
<body class="bg-one-color-lighter">

    <h1>Welcome to Week 1</h1>
    
    <ul>
        <li class="list-spacing"><span class="task1">warm up -> 5 minute WALK</span> 🚶‍♀️ </li>
        <li class="list-spacing"><span class="task2">60 second JOG</span> 🏃‍♀️ </li>
        <li class="list-spacing"><span class="task3">90 second WALK</span> 🚶‍♀️ </li><br>
        <li class="list-spacing"><span class="task4">60 second JOG</span> 🏃‍♀️ </li>
        <li class="list-spacing"><span class="task5">90 second WALK</span> 🚶‍♀️ </li><br>
        <li class="list-spacing"><span class="task6">60 second JOG</span> 🏃‍♀️ </li>
        <li class="list-spacing"><span class="task7">90 second WALK</span> 🚶‍♀️ </li><br>
        <li class="list-spacing"><span class="task8">60 second JOG</span> 🏃‍♀️ </li>
        <li class="list-spacing"><span class="task9">90 second WALK</span> 🚶‍♀️ </li><br>
        <li class="list-spacing"><span class="task10">60 second JOG</span> 🏃‍♀️ </li>
        <li class="list-spacing"><span class="task11">90 second WALK</span> 🚶‍♀️ </li><br>
        <li class="list-spacing"><span class="task12">60 second JOG</span> 🏃‍♀️ </li>
        <li class="list-spacing"><span class="task13">90 second WALK</span> 🚶‍♀️ </li><br>
        <li class="list-spacing"><span class="task14">60 second JOG</span> 🏃‍♀️ </li>
        <li class="list-spacing"><span class="task15">90 second WALK</span> 🚶‍♀️ </li><br>
        <li class="list-spacing"><span class="task16">60 second JOG</span> 🏃‍♀️ </li>
        <li class="list-spacing"><span class="task17">90 second WALK</span> 🚶‍♀️ </li>
        <li class="list-spacing"><span class="task18">cool down -> 5 minute WALK</span> 🚶‍♀️ </li>
    </ul>

    <!--  stopwatch -->
    <section class="wrapper">
        <section class="time">
            <span class="hour ">00</span>
            <span class="colon ">:</span>
            <span class="minute ">00</span>
            <span class="colon ">:</span>
            <span class="second ">00</span>
            <span class="colon ms-colon ">:</span>
            <span class="millisecond ">00</span>
        </section>
        <section class="buttons">
            <button class="start">▶️</button>
            <button class="stop">⏹️</button>
            <button class="reset">🔄</button>
        </section>
    </section>
    <!-- stopwatch end -->
    <br><br>
    <section class="zenter">
        <a href="/">__<span class="chicken-emoji-size">🏃‍♀️</span>__</a>
    </section>
    <!-- comment section -->
  
    <ul>
        <% week1s.forEach( el => { %>
            <li class='week1Item' data-id='<%=el._id%>'>
                <span id="comment-style" class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.week1+'_.'+el.date.toDateString()%>🏁</span>
                <!--               -->
            </li>
        <% }) %>    
        </ul>
    
        <form action="/week1/createWeek1" method='POST' class="zenter">
            <input type="text" placeholder="Enter your alias here" name='week1Item'>
            <input type="submit">
        </form><br><br><br>
        <!-- comment section END -->

    <script src="js/week1.js"></script>
    <script src="js/stopwatch.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    
</body>
</html>